<!DOCTYPE html>
<html>
    <head>
        <title>Hello World</title>
        <style>
            body {
                background-color: #f0e68c; /* Jasnożółte tło */
                color: #333333; /* Ciemny kolor tekstu */
                font-family: Arial, sans-serif;
                text-align: center;
                padding: 50px;
            }
        </style>
    </head>
    <body>
        <h1>{{ message }}</h1>
    </body>
</html>
